.cart-container {
  margin: 2.4rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e3dde4;
  border-radius: 0.7rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
}

.cart-heading {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #4e525f;
  margin-top: 2rem;
  margin-bottom: 1.6rem;
}

.cart-id-label {
  align-self: flex-start;
  margin-left: 3.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #383b44;
}

.cart-id {
  font-weight: 600;
  font-style: italic;
}

.cart-table {
  width: 100%;
}

.cart-table,
th,
td {
  border: 1px solid #6e727d;
  border-collapse: collapse;
}

th {
  padding: 8px;
  text-align: center;
  height: 1.2rem;
  color: #383b44;
  font-size: 1.2rem;
}

td {
  font-size: 1rem;
  text-align: center;
  height: 3rem;
}

tr th:nth-child(1) {
  width: 4rem;
}

tr th:nth-child(2) {
  width: 9rem;
}
tr th:nth-child(3) {
  width: 15rem;
}

tr th:nth-child(4) {
  width: 8rem;
}

tr th:nth-child(5) {
  width: 7rem;
}

tr th:nth-child(6) {
  width: 9rem;
}

tr th:nth-child(7) {
  width: 7rem;
}

tr th:nth-child(8) {
  width: 3rem;
}

.remove-link:link,
.remove-link:visited {
  text-decoration: underline;
  color: #252525;
}

.remove-link:hover {
  color: #3a3a3a;
}

.cart-total-container {
  color: #383b44;
  align-self: flex-end;
  font-size: 1.1rem;
  width: 16rem;
  display: flex;
  justify-content: right;
  margin: 2rem 0;
  margin-right: 2.8rem;
}

.cart-total-heading {
  font-weight: 500;
  margin-right: 2rem;
}

.cart-total {
  font-weight: 700;
}

.order-btn {
  border: none;
  margin-bottom: 2rem;

  background: #f9ffd7;
  color: #32353d;

  height: 2.6rem;
  width: 12rem;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all 0.2s;
}

.order-btn:hover {
  background: #d9debb;
}
