.orders-container {
  margin: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e3dde4;
  border-radius: 0.7rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
}

.order-heading {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #4e525f;
  margin-top: 2rem;
  margin-bottom: 1.6rem;
}

.order-table {
  width: 100%;
}

.order-table,
th,
td {
  border: 1px solid #6e727d;
  border-collapse: collapse;
}

th {
  padding: 4px;
  text-align: center;
  height: 1.2rem;
  color: #383b44;
  font-size: 1rem;
}

td {
  font-size: 0.8rem;
  text-align: center;
  height: 3rem;
}

tr th:nth-child(1) {
  width: 4rem;
}

tr th:nth-child(2) {
  width: 4.8rem;
}
tr th:nth-child(3) {
  width: 4.6rem;
}

tr th:nth-child(4) {
  width: 5.5rem;
}

tr th:nth-child(5) {
  width: 4rem;
}

tr th:nth-child(6) {
  width: 6rem;
}

tr th:nth-child(7) {
  width: 5.8rem;
}

tr th:nth-child(8) {
  width: 6rem;
}

tr th:nth-child(9) {
  width: 7rem;
}

tr th:nth-child(10) {
  width: 4rem;
}

tr th:nth-child(11) {
  width: 8rem;
}

tr th:nth-child(12) {
  width: 4rem;
}

.remove-link:link,
.remove-link:visited {
  text-decoration: underline;
  color: #252525;
}

.remove-link:hover {
  color: #3a3a3a;
}

.track-btn a:link,
.track-btn a:visited {
  background: #f9ffd7;
  color: #32353d;
  text-decoration: none;
  text-align: center;
  align-content: center;
  border: none;
  padding: 0.5rem 1rem;

  height: 2.6rem;
  width: 12rem;
  font-size: 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all 0.2s;
}

.track-btn {
  margin: 2rem 0;
}

.order-btn:hover {
  background: #d9debb;
}
