.order-super-container {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

.order-container {
  max-width: 61rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #edebed;
  padding: 2rem;
  color: #252525;
  border-radius: 0.7rem;
  min-height: 15rem;
  box-shadow: 0 0.5rem 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

a {
  text-decoration: none;
}

label {
  font-weight: 500;
}

.order-heading {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  padding-bottom: 1rem;
  text-align: center;
}

.sub-order-container {
  width: 57rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.info-container label {
  width: 12rem;
}

.info-container p {
  font-weight: 700;
  max-width: 30rem;
}

.order-total-container {
  align-self: flex-end;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.order-total {
  font-weight: 700;
  width: 6rem;
  text-align: right;
}

.order-count-container {
  align-self: flex-end;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.order-count {
  font-weight: 700;
  width: 6rem;
  text-align: right;
}

.item-desc-container {
  flex-direction: column;
}

.item-desc-container p {
  text-align: center;
  font-weight: 600;
}

.item-desc-text {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.order-table-container {
  overflow-x: auto;
  width: 100%;
}

.items-table {
  width: 57rem;
  border-collapse: collapse;
  border: 0.2px solid #ccc;
  margin-bottom: 2rem;
}

.items-table tr {
  height: 3rem;
}

.items-table tr th,
.items-table tr td {
  border: 0.2px solid #ccc;
  text-align: center;
}

.items-table tr th:nth-child(1),
.items-table tr td:nth-child(1) {
  width: 4rem;
}

.items-table tr th:nth-child(2),
.items-table tr td:nth-child(2) {
  width: 11rem;
}

.items-table tr th:nth-child(3),
.items-table tr td:nth-child(3) {
  width: 20rem;
}

.items-table tr th:nth-child(4),
.items-table tr td:nth-child(4) {
  width: 7rem;
}

.items-table tr th:nth-child(5),
.items-table tr td:nth-child(5) {
  width: 7rem;
}

.items-table tr th:nth-child(6),
.items-table tr td:nth-child(6) {
  width: 7rem;
}

.items-table tr td a {
  transition: all 0.2s;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  font-weight: 500;
}

.items-table tr td a:link,
.items-table tr td a:visited {
  color: #252525;
}

.items-table tr td a:hover {
  color: white;
  background: #333;
}

.payment-container {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  width: 100%;
  justify-content: right;
}

.download {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
}

.invoice-btn {
  display: flex;
  align-items: center;
  background: #00b000;
  border-radius: 0.3rem;
  padding: 0.2rem 0.6rem;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.2s;
  width: fit-content;
}

.invoice-btn:link,
.invoice-btn:visited {
  color: white;
}

.invoice-btn:hover {
  background: #009000;
}

.payment-info-btn {
  background: #00b000;
  border-radius: 0.3rem;
  padding: 0.35rem 0.6rem;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.2s;
  width: fit-content;
  margin-right: 1rem;
}

.payment-info-btn:link,
.payment-info-btn:visited {
  color: white;
}

.payment-info-btn:hover {
  background: #009000;
}

.order-btns {
  display: flex;
  align-items: center;
}

.cancel-order-btn {
  background: #ff4031;
  border-radius: 0.3rem;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.2s;
  width: fit-content;
}

.cancel-order-btn:link,
.cancel-order-btn:visited {
  color: white;
}

.cancel-order-btn:hover {
  background: #9e0000;
}

.track-order-btn {
  background: #00b000;
  border-radius: 0.3rem;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.2s;
  width: fit-content;
  margin-left: 1rem;
}

.track-order-btn:link,
.track-order-btn:visited {
  color: white;
}

.track-order-btn:hover {
  background: #009000;
}

@media (max-width: 65em) {
  .order-container {
    max-width: 53rem;
  }

  .sub-order-container {
    max-width: 49rem;
  }
}

@media (max-width: 57em) {
  .order-container {
    max-width: 45rem;
  }

  .sub-order-container {
    max-width: 41rem;
  }
}

@media (max-width: 48em) {
  .order-heading {
    font-size: 1.6rem;
  }

  .info-container,
  .order-count-container,
  .order-total-container {
    font-size: 0.9rem;
  }

  .order-container {
    max-width: 36rem;
  }

  .sub-order-container {
    max-width: 33rem;
  }
}

@media (max-width: 40em) {
  td,
  th {
    font-size: 0.8rem;
  }

  .info-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .order-container {
    max-width: 28rem;
  }

  .sub-order-container {
    max-width: 25rem;
  }
}

@media (max-width: 33em) {
  .order-container {
    max-width: 20rem;
  }

  .sub-order-container {
    max-width: 20rem;
  }

  .order-btns {
    flex-direction: column-reverse;
  }

  .track-order-btn,
  .cancel-order-btn {
    width: 7.2rem;
    text-align: center;
  }

  .track-order-btn {
    margin-left: 0;
    margin-bottom: 0.6rem;
  }
}

@media (max-width: 27em) {
  .order-container {
    max-width: 13rem;
  }

  .sub-order-container {
    max-width: 13rem;
  }
}
