.payment-container {
  max-width: 100rem;
  margin: 2.2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #edebed;
  padding: 2rem;
  color: #252525;
  border-radius: 0.7rem;
  min-height: 10rem;
  box-shadow: 0 0.5rem 10px rgba(0, 0, 0, 0.15);
}

a {
  text-decoration: none;
}

label {
  font-weight: 500;
}

.payment-heading {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  padding-bottom: 2rem;
}

.info-container {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
}

.info-container label {
  width: 10rem;
}

.info-container p {
  width: 25rem;
}

.transc-id-container {
  margin-bottom: 0.5rem;
}
