.track-super-container {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

.track-container {
  max-width: 31rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #edebed;
  padding: 2rem;
  color: #252525;
  border-radius: 0.7rem;
  min-height: 12rem;
  box-shadow: 0 0.5rem 10px rgba(0, 0, 0, 0.15);
}

a {
  text-decoration: none;
}

input,
textarea {
  font-family: "Open Sans";
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
  border: 0.2px solid rgba(170, 170, 170, 0.35);
  border-radius: 0.7rem;
  color: #252525;
}

input::placeholder {
  color: #cdcdcd;
}

input:focus {
  outline: none;
}

label {
  font-weight: 500;
}

.track-heading {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.order-id-container,
.awb-container {
  display: flex;
  flex-direction: column;
}

.order-id,
.awb {
  width: 25rem;
}

.order-id-label,
.awb-label {
  margin-bottom: 0.6rem;
}

.track-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.track-btn {
  align-self: center;
  background: #008d00;
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
  transition: all 0.2s;
}

.track-btn:link,
.track-btn:visited {
  color: white;
  font-weight: 600;
}

.track-btn:hover {
  background: #007600;
}

.error-icon {
  width: 1rem;
  height: 1rem;
  fill: red;
  margin-right: 0.4rem;
}

.error {
  display: flex;
  width: 100%;
  color: red;
  margin: 0.5rem 0 1rem 0;
  font-style: italic;
  font-size: 0.8rem;
  align-items: center;
}

.or {
  font-weight: 600;
  font-style: italic;
  color: #6f6f6f;
  padding: 0.3rem 0;
  text-align: center;
  margin: 1rem 0;
}

@media (max-width: 40em) {
  .track-container {
    max-width: 30rem;
  }

  .awb {
    width: 24rem;
  }
}

@media (max-width: 34em) {
  .track-container {
    max-width: 25rem;
  }

  .awb {
    width: 19rem;
  }
}

@media (max-width: 29em) {
  .track-container {
    max-width: 20rem;
  }

  .awb {
    width: 14rem;
  }

  .track-heading {
    font-size: 1.6rem;
  }

  .awb-label {
    font-size: 0.9rem;
  }

  .awb {
    font-size: 0.8rem;
  }

  .track-btn {
    font-size: 0.9rem;
    width: 7rem;
    text-align: center;
  }
}

@media (max-width: 23em) {
  .track-container {
    max-width: 14rem;
  }

  .subject {
    width: 11rem;
  }
}
